# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
.venv/
venv/

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# PyInstaller
# =========================
build/
dist/
*.spec
*.exe

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
Thumbs.db
.DS_Store
